{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<HR>

<ul>
    {% if user and not user.is_anonymous %}
        <li>
            <a>Hello {{ user.get_full_name|default:user.username }}!</a>
        </li>
        <li>
            <a href="{% url 'auth:logout' %}?next={% url 'web:register' %}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'social:begin' 'twitter' %}?next={% url 'general:top' %}">Login with Twitter</a>
        </li>
    {% endif %}
</ul>

{% endblock %}
